n8n_workflow_run_tests_simple.json
{
  "name": "Run Tests with Dedup (No RateLimit Node)",
  "nodes": [
    {
      "parameters": {
        "path": "run-tests",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "// Dedupe + Cooldown usando Static Data (dispensa Rate Limit)\nconst key = $json.headers?.['idempotency-key'] || $json.idempotency_key || 'default';\nconst now = Date.now();\nconst cdMs = 120000; // 120s\nconst global = $getWorkflowStaticData('global');\nif (!global.lastKeys) global.lastKeys = {};\nconst last = global.lastKeys[key];\nif (last && (now - last.ts) < cdMs) {\n  // marcar como duplicado e não seguir para execução\n  return [{ json: { blocked: true, reason: 'duplicate', message: 'Duplicate within cooldown' } }];\n}\n// registra a nova execução\nglobal.lastKeys[key] = { ts: now };\nreturn items;"
      },
      "id": "Deduplicate",
      "name": "Deduplicate (StaticData)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.blocked}}"
            }
          ]
        }
      },
      "id": "IF",
      "name": "IF Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "responseBody": "={{ {\"status\":\"skipped\",\"reason\":$json.reason || 'duplicate'} }}",
        "responseCode": 200
      },
      "id": "RespondDuplicate",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "url": "http://automacao-solar:5000/run-opportunity-test",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "headerParametersUi": {
            "parameter": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "retryOnFail": false,
          "timeout": 120
        },
        "jsonBody": "={{ {\n  ambiente: $json.body?.ambiente ?? $json.ambiente,\n  email: $json.body?.email ?? $json.email,\n  senha: $json.body?.senha ?? $json.senha,\n  massa: $json.body?.massa ?? $json.massa\n} }}"
      },
      "id": "HTTPRequestRobot",
      "name": "HTTP Request Robot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "responseBody": "={{ {\n  status: $json.status || 'ok',\n  message: $json.message,\n  execution_id: $json.execution_id\n} }}",
        "responseCode": 200
      },
      "id": "RespondSuccess",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1360, 460]
    },
    {
      "parameters": {
        "url": "http://ia-assistente:9999/notify",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "retryOnFail": false,
          "timeout": 60,
          "headerParametersUi": {
            "parameter": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "jsonBody": "={{ {\n  execution_id: $json.execution_id,\n  status: $json.status,\n  message: $json.message\n} }}"
      },
      "id": "NotifyQualityIA",
      "name": "Notify QualityIA (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1360, 340]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Deduplicate (StaticData)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate (StaticData)": {
      "main": [
        [
          {
            "node": "IF Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Duplicate?": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Robot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Robot": {
      "main": [
        [
          {
            "node": "Notify QualityIA (optional)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
